@charset 'UTF-8';

.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-training {
    width: calc(50% - 6%);
    height: 300px;
    margin: 3%;
    padding: 10px;
    background-image: url(../../img/online.png);
    background-size: 100% 100%;
    flex-grow: 1;
}
@media screen and (max-width: 920px) {
    .home {
        justify-content: center;
    }
    .home-training {
        width: calc(100% - 30%);
        margin: 20px 15%;
    }
}